*.o
main
gui/gui
gui/view_add
gui/view_alloc
gui/gui_deinit
gui/ctx_filled_box
gui/view_free
gui/gui_init
gui/ctx_set_color
gui/ctx_set_clip
gui/gui_statics
gui/view_sub
sys/cpu_get_id
sys/get_cpu_total
sys/cpu_get_time
sys/heap_alloccell
sys/heap_deinit
sys/heap_freeheap
sys/heap_init
sys/kernel
sys/link
sys/link_init
sys/link_statics
sys/list_enumerate_backwards
sys/list_enumerate_forwards
sys/list_get_index_of_node
sys/list_get_node_at_index
sys/load_deinit
sys/load_bind
sys/load_init
sys/load_statics
sys/mail_in
sys/mail_out
sys/mail_alloc
sys/mail_alloc_parcel
sys/mail_deinit
sys/mail_init
sys/mail_read
sys/mail_read_mymail
sys/mail_send
sys/mail_statics
sys/math_random
sys/mem_alloc
sys/mem_clear
sys/mem_copy
sys/mem_deinit
sys/mem_free
sys/mem_grow
sys/mem_init
sys/mem_statics
sys/opt_process
sys/read_line
sys/string_compare
sys/string_copy
sys/string_length
sys/string_parse_int
sys/task_deinit
sys/task_yield
sys/task_init
sys/task_open
sys/task_open_array
sys/task_open_child
sys/task_open_device
sys/task_open_farm
sys/task_open_global
sys/task_open_pipe
sys/task_open_remote
sys/task_restore
sys/task_resume
sys/task_sleep
sys/task_start
sys/task_statics
sys/task_stop
sys/task_suspend
sys/write_char
sys/write_number
sys/write_string
tests/test1
tests/test10
tests/test11
tests/test12
tests/test2
tests/test3
tests/test4
tests/test5
tests/test6
tests/test7
tests/test8
tests/test9
syscalls
